page-home {

  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Arial;
  }

  p {
    font-size: 16px;
    font-family: Arial;
  }

  .thick-green-border {
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
  }

  .smaller-image {
    width: 500px;
  }

}
